* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(255, 98, 0);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #606060;
}

.container {
  max-width: 1400px;
  margin: auto;
  padding: 0 32px;
}

.navbar {
  max-width: 1400px;
  margin: auto;
  padding: 0 32px;
}
.navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.navbar nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
}
.navbar nav ul li:hover .dd1,
.navbar nav ul li:hover .dd2,
.navbar nav ul li:hover .dd3,
.navbar nav ul li:hover .dd4 {
  display: block;
  position: absolute;
  margin-top: 10px;
  border: 1px solid white;
  box-shadow: 0 0 5px #000000;
  background-color: white;
}
.navbar nav ul li:hover .dd1 ul li,
.navbar nav ul li:hover .dd2 ul li,
.navbar nav ul li:hover .dd3 ul li,
.navbar nav ul li:hover .dd4 ul li {
  display: block;
}
.navbar nav ul li:hover .dd1 ul li:hover,
.navbar nav ul li:hover .dd2 ul li:hover,
.navbar nav ul li:hover .dd3 ul li:hover,
.navbar nav ul li:hover .dd4 ul li:hover {
  background-color: rgb(216, 216, 216);
}
.navbar nav ul li:hover .dd1 ul li a,
.navbar nav ul li:hover .dd2 ul li a,
.navbar nav ul li:hover .dd3 ul li a,
.navbar nav ul li:hover .dd4 ul li a {
  padding-right: 100px;
  font-size: 15px;
  color: #101010;
}
.navbar nav ul li:hover .dd1 ul li a:hover,
.navbar nav ul li:hover .dd2 ul li a:hover,
.navbar nav ul li:hover .dd3 ul li a:hover,
.navbar nav ul li:hover .dd4 ul li a:hover {
  color: orangered;
}
.navbar nav ul li a {
  color: #212529;
  text-decoration: none;
  font-size: 16px;
}
.navbar nav ul li a:hover {
  color: orangered;
  transition: 0.3s;
}
.navbar nav ul li .dd1,
.navbar nav ul li .dd2,
.navbar nav ul li .dd3,
.navbar nav ul li .dd4 {
  display: none;
}
.navbar nav button {
  font-size: 20px;
  padding: 15px 25px;
  color: white;
  border: none;
  border-radius: 8px;
  background-color: rgb(255, 98, 0);
  font-weight: bold;
}
.navbar nav button:hover {
  background-color: black;
  color: rgb(255, 98, 0);
  transition: 0.5s;
  cursor: pointer;
}
.navbar nav i {
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.section1 {
  width: 100%;
  padding: 0 100px;
  background-color: linen;
}
.section1 .sec1-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section1 .sec1-in .fortext {
  min-width: 400px;
}
.section1 .sec1-in .fortext h1 {
  font-size: 80px;
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
}
.section1 .sec1-in .fortext p {
  color: rgb(136, 136, 136);
  line-height: 35px;
  font-size: 18px;
  margin-top: 1rem;
}
.section1 .sec1-in .fortext button {
  font-size: 20px;
  padding: 15px 30px;
  color: white;
  border: none;
  border-radius: 8px;
  background-color: rgb(255, 98, 0);
  font-weight: bold;
  margin-top: 3rem;
}
.section1 .sec1-in .fortext button:hover {
  background-color: black;
  color: rgb(255, 98, 0);
  transition: 0.5s;
  cursor: pointer;
}
.section1 .sec1-in .forimg {
  width: 50%;
  min-width: 400px;
  flex-wrap: nowrap;
}
.section1 .sec1-in .forimg img {
  width: 100%;
  height: 650px;
}

.section2 {
  width: 100%;
  padding: 0 100px;
}
.section2 .sec2-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}
.section2 .sec2-in .forimg {
  width: 45%;
  min-width: 400px;
  flex-wrap: nowrap;
}
.section2 .sec2-in .forimg img {
  width: 95%;
  height: 750px;
}
.section2 .sec2-in .fortext h1 {
  font-size: 40px;
}
.section2 .sec2-in .fortext p {
  font-size: 17px;
  color: rgb(136, 136, 136);
  margin-top: 1rem;
  line-height: 25px;
}
.section2 .sec2-in .fortext .for-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section2 .sec2-in .fortext .for-icons .foricon1,
.section2 .sec2-in .fortext .for-icons .foricon2 {
  position: relative;
  margin-top: 2rem;
}
.section2 .sec2-in .fortext .for-icons .foricon1 .span-zero,
.section2 .sec2-in .fortext .for-icons .foricon2 .span-zero {
  position: absolute;
  top: 0;
  margin-left: 10px;
  font-size: 21px;
  color: rgb(255, 98, 0);
}
.section2 .sec2-in .fortext .for-icons .foricon1 .span-nozero,
.section2 .sec2-in .fortext .for-icons .foricon2 .span-nozero {
  font-size: 18px;
  margin-left: 10px;
}
.section2 .sec2-in .fortext .divss {
  margin-top: 4rem;
}
.section2 .sec2-in .fortext .divss .divs1,
.section2 .sec2-in .fortext .divss .divs2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section2 .sec2-in .fortext .divss .divs1 i,
.section2 .sec2-in .fortext .divss .divs2 i {
  color: rgb(255, 98, 0);
}
.section2 .sec2-in .fortext .divss .divs1 span,
.section2 .sec2-in .fortext .divss .divs2 span {
  margin-left: 10px;
}
.section2 .sec2-in .fortext button {
  font-size: 20px;
  padding: 15px 30px;
  color: white;
  border: none;
  border-radius: 8px;
  background-color: rgb(255, 98, 0);
  font-weight: bold;
  margin-top: 5rem;
}
.section2 .sec2-in .fortext button:hover {
  background-color: black;
  color: rgb(255, 98, 0);
  transition: 0.5s;
  cursor: pointer;
}

.section3 {
  width: 100%;
  padding: 0 100px;
}
.section3 .sec3-head {
  margin-top: 5rem;
  text-align: center;
}
.section3 .sec3-head h1 {
  font-size: 45px;
  margin-top: 1rem;
}
.section3 .sec3-in .boxs1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}
.section3 .sec3-in .boxs1 .box1,
.section3 .sec3-in .boxs1 .box2,
.section3 .sec3-in .boxs1 .box3,
.section3 .sec3-in .boxs1 .box4 {
  width: 22%;
  height: 300px;
  border-radius: 8px;
  border: 1px solid rgb(255, 98, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}
.section3 .sec3-in .boxs1 .box1:hover,
.section3 .sec3-in .boxs1 .box2:hover,
.section3 .sec3-in .boxs1 .box3:hover,
.section3 .sec3-in .boxs1 .box4:hover {
  background-color: linen;
  transition: 0.5s;
}
.section3 .sec3-in .boxs1 .box1 p,
.section3 .sec3-in .boxs1 .box2 p,
.section3 .sec3-in .boxs1 .box3 p,
.section3 .sec3-in .boxs1 .box4 p {
  color: rgb(136, 136, 136);
  line-height: 25px;
}
.section3 .sec3-in .boxs2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.section3 .sec3-in .boxs2 .box1,
.section3 .sec3-in .boxs2 .box2,
.section3 .sec3-in .boxs2 .box3,
.section3 .sec3-in .boxs2 .box4 {
  width: 22%;
  height: 300px;
  border-radius: 8px;
  border: 1px solid rgb(255, 98, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}
.section3 .sec3-in .boxs2 .box1:hover,
.section3 .sec3-in .boxs2 .box2:hover,
.section3 .sec3-in .boxs2 .box3:hover,
.section3 .sec3-in .boxs2 .box4:hover {
  background-color: linen;
  transition: 0.5s;
}
.section3 .sec3-in .boxs2 .box1 p,
.section3 .sec3-in .boxs2 .box2 p,
.section3 .sec3-in .boxs2 .box3 p,
.section3 .sec3-in .boxs2 .box4 p {
  color: rgb(136, 136, 136);
  line-height: 25px;
}

.section4 {
  width: 100%;
  padding: 0 100px;
  background-color: linen;
  margin-top: 8rem;
}
.section4 .sec4-head {
  text-align: center;
}
.section4 .sec4-head h1 {
  font-size: 45px;
  margin-top: 1rem;
}
.section4 .sec4-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section4 .sec4-in .scrollstick {
  width: 2px;
  height: 700px;
  background-color: rgb(136, 136, 136);
  position: relative;
}
.section4 .sec4-in .scrollstick .cricle1,
.section4 .sec4-in .scrollstick .cricle2,
.section4 .sec4-in .scrollstick .cricle3 {
  height: 20px;
  width: 20px;
  border-radius: 9999px;
  background-color: rgb(255, 98, 0);
  position: absolute;
  left: -8px;
}
.section4 .sec4-in .scrollstick .cricle1 span,
.section4 .sec4-in .scrollstick .cricle2 span,
.section4 .sec4-in .scrollstick .cricle3 span {
  font-size: 25px;
  margin-left: 2rem;
}
.section4 .sec4-in .scrollstick .cricle1 {
  margin-top: 7rem;
}
.section4 .sec4-in .scrollstick .cricle2 {
  margin-top: 22rem;
}
.section4 .sec4-in .scrollstick .cricle3 {
  margin-top: 37rem;
}
.section4 .sec4-in .fortext {
  width: 80%;
}
.section4 .sec4-in .fortext .boxs1,
.section4 .sec4-in .fortext .boxs2,
.section4 .sec4-in .fortext .boxs3 {
  width: 100%;
  height: 230px;
  background-color: white;
  margin-top: 1.5rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.section4 .sec4-in .fortext .boxs1 .box1 p,
.section4 .sec4-in .fortext .boxs1 .box2 p,
.section4 .sec4-in .fortext .boxs1 .box3 p,
.section4 .sec4-in .fortext .boxs2 .box1 p,
.section4 .sec4-in .fortext .boxs2 .box2 p,
.section4 .sec4-in .fortext .boxs2 .box3 p,
.section4 .sec4-in .fortext .boxs3 .box1 p,
.section4 .sec4-in .fortext .boxs3 .box2 p,
.section4 .sec4-in .fortext .boxs3 .box3 p {
  color: rgb(136, 136, 136);
  line-height: 25px;
  margin-top: 1rem;
}

.section5 {
  width: 100%;
  padding: 0 100px;
}
.section5 .sec5-head {
  text-align: center;
  margin-top: 5rem;
}
.section5 .sec5-head h1 {
  font-size: 45px;
  margin-top: 1rem;
}
.section5 .sec5-in .boxs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-top: 3rem;
}
.section5 .sec5-in .boxs .box1,
.section5 .sec5-in .boxs .box2,
.section5 .sec5-in .boxs .box3 {
  width: 30%;
  height: 250px;
  background-color: rgb(251, 247, 243);
  border: none;
  border-radius: 5px;
}
.section5 .sec5-in .boxs .box1:hover,
.section5 .sec5-in .boxs .box2:hover,
.section5 .sec5-in .boxs .box3:hover {
  background-color: linen;
  transition: 0.1s;
}
.section5 .sec5-in .boxs .box1 .box1-in,
.section5 .sec5-in .boxs .box1 .box2-in,
.section5 .sec5-in .boxs .box1 .box3-in,
.section5 .sec5-in .boxs .box2 .box1-in,
.section5 .sec5-in .boxs .box2 .box2-in,
.section5 .sec5-in .boxs .box2 .box3-in,
.section5 .sec5-in .boxs .box3 .box1-in,
.section5 .sec5-in .boxs .box3 .box2-in,
.section5 .sec5-in .boxs .box3 .box3-in {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  position: relative;
}
.section5 .sec5-in .boxs .box1 .box1-in img,
.section5 .sec5-in .boxs .box1 .box2-in img,
.section5 .sec5-in .boxs .box1 .box3-in img,
.section5 .sec5-in .boxs .box2 .box1-in img,
.section5 .sec5-in .boxs .box2 .box2-in img,
.section5 .sec5-in .boxs .box2 .box3-in img,
.section5 .sec5-in .boxs .box3 .box1-in img,
.section5 .sec5-in .boxs .box3 .box2-in img,
.section5 .sec5-in .boxs .box3 .box3-in img {
  position: absolute;
  left: 1rem;
}
.section5 .sec5-in .boxs .box1 .box1-in .box1-text .box1-p1,
.section5 .sec5-in .boxs .box1 .box1-in .box1-text .box2-p1,
.section5 .sec5-in .boxs .box1 .box1-in .box1-text .box3-p1,
.section5 .sec5-in .boxs .box1 .box1-in .box2-text .box1-p1,
.section5 .sec5-in .boxs .box1 .box1-in .box2-text .box2-p1,
.section5 .sec5-in .boxs .box1 .box1-in .box2-text .box3-p1,
.section5 .sec5-in .boxs .box1 .box1-in .box3-text .box1-p1,
.section5 .sec5-in .boxs .box1 .box1-in .box3-text .box2-p1,
.section5 .sec5-in .boxs .box1 .box1-in .box3-text .box3-p1,
.section5 .sec5-in .boxs .box1 .box2-in .box1-text .box1-p1,
.section5 .sec5-in .boxs .box1 .box2-in .box1-text .box2-p1,
.section5 .sec5-in .boxs .box1 .box2-in .box1-text .box3-p1,
.section5 .sec5-in .boxs .box1 .box2-in .box2-text .box1-p1,
.section5 .sec5-in .boxs .box1 .box2-in .box2-text .box2-p1,
.section5 .sec5-in .boxs .box1 .box2-in .box2-text .box3-p1,
.section5 .sec5-in .boxs .box1 .box2-in .box3-text .box1-p1,
.section5 .sec5-in .boxs .box1 .box2-in .box3-text .box2-p1,
.section5 .sec5-in .boxs .box1 .box2-in .box3-text .box3-p1,
.section5 .sec5-in .boxs .box1 .box3-in .box1-text .box1-p1,
.section5 .sec5-in .boxs .box1 .box3-in .box1-text .box2-p1,
.section5 .sec5-in .boxs .box1 .box3-in .box1-text .box3-p1,
.section5 .sec5-in .boxs .box1 .box3-in .box2-text .box1-p1,
.section5 .sec5-in .boxs .box1 .box3-in .box2-text .box2-p1,
.section5 .sec5-in .boxs .box1 .box3-in .box2-text .box3-p1,
.section5 .sec5-in .boxs .box1 .box3-in .box3-text .box1-p1,
.section5 .sec5-in .boxs .box1 .box3-in .box3-text .box2-p1,
.section5 .sec5-in .boxs .box1 .box3-in .box3-text .box3-p1,
.section5 .sec5-in .boxs .box2 .box1-in .box1-text .box1-p1,
.section5 .sec5-in .boxs .box2 .box1-in .box1-text .box2-p1,
.section5 .sec5-in .boxs .box2 .box1-in .box1-text .box3-p1,
.section5 .sec5-in .boxs .box2 .box1-in .box2-text .box1-p1,
.section5 .sec5-in .boxs .box2 .box1-in .box2-text .box2-p1,
.section5 .sec5-in .boxs .box2 .box1-in .box2-text .box3-p1,
.section5 .sec5-in .boxs .box2 .box1-in .box3-text .box1-p1,
.section5 .sec5-in .boxs .box2 .box1-in .box3-text .box2-p1,
.section5 .sec5-in .boxs .box2 .box1-in .box3-text .box3-p1,
.section5 .sec5-in .boxs .box2 .box2-in .box1-text .box1-p1,
.section5 .sec5-in .boxs .box2 .box2-in .box1-text .box2-p1,
.section5 .sec5-in .boxs .box2 .box2-in .box1-text .box3-p1,
.section5 .sec5-in .boxs .box2 .box2-in .box2-text .box1-p1,
.section5 .sec5-in .boxs .box2 .box2-in .box2-text .box2-p1,
.section5 .sec5-in .boxs .box2 .box2-in .box2-text .box3-p1,
.section5 .sec5-in .boxs .box2 .box2-in .box3-text .box1-p1,
.section5 .sec5-in .boxs .box2 .box2-in .box3-text .box2-p1,
.section5 .sec5-in .boxs .box2 .box2-in .box3-text .box3-p1,
.section5 .sec5-in .boxs .box2 .box3-in .box1-text .box1-p1,
.section5 .sec5-in .boxs .box2 .box3-in .box1-text .box2-p1,
.section5 .sec5-in .boxs .box2 .box3-in .box1-text .box3-p1,
.section5 .sec5-in .boxs .box2 .box3-in .box2-text .box1-p1,
.section5 .sec5-in .boxs .box2 .box3-in .box2-text .box2-p1,
.section5 .sec5-in .boxs .box2 .box3-in .box2-text .box3-p1,
.section5 .sec5-in .boxs .box2 .box3-in .box3-text .box1-p1,
.section5 .sec5-in .boxs .box2 .box3-in .box3-text .box2-p1,
.section5 .sec5-in .boxs .box2 .box3-in .box3-text .box3-p1,
.section5 .sec5-in .boxs .box3 .box1-in .box1-text .box1-p1,
.section5 .sec5-in .boxs .box3 .box1-in .box1-text .box2-p1,
.section5 .sec5-in .boxs .box3 .box1-in .box1-text .box3-p1,
.section5 .sec5-in .boxs .box3 .box1-in .box2-text .box1-p1,
.section5 .sec5-in .boxs .box3 .box1-in .box2-text .box2-p1,
.section5 .sec5-in .boxs .box3 .box1-in .box2-text .box3-p1,
.section5 .sec5-in .boxs .box3 .box1-in .box3-text .box1-p1,
.section5 .sec5-in .boxs .box3 .box1-in .box3-text .box2-p1,
.section5 .sec5-in .boxs .box3 .box1-in .box3-text .box3-p1,
.section5 .sec5-in .boxs .box3 .box2-in .box1-text .box1-p1,
.section5 .sec5-in .boxs .box3 .box2-in .box1-text .box2-p1,
.section5 .sec5-in .boxs .box3 .box2-in .box1-text .box3-p1,
.section5 .sec5-in .boxs .box3 .box2-in .box2-text .box1-p1,
.section5 .sec5-in .boxs .box3 .box2-in .box2-text .box2-p1,
.section5 .sec5-in .boxs .box3 .box2-in .box2-text .box3-p1,
.section5 .sec5-in .boxs .box3 .box2-in .box3-text .box1-p1,
.section5 .sec5-in .boxs .box3 .box2-in .box3-text .box2-p1,
.section5 .sec5-in .boxs .box3 .box2-in .box3-text .box3-p1,
.section5 .sec5-in .boxs .box3 .box3-in .box1-text .box1-p1,
.section5 .sec5-in .boxs .box3 .box3-in .box1-text .box2-p1,
.section5 .sec5-in .boxs .box3 .box3-in .box1-text .box3-p1,
.section5 .sec5-in .boxs .box3 .box3-in .box2-text .box1-p1,
.section5 .sec5-in .boxs .box3 .box3-in .box2-text .box2-p1,
.section5 .sec5-in .boxs .box3 .box3-in .box2-text .box3-p1,
.section5 .sec5-in .boxs .box3 .box3-in .box3-text .box1-p1,
.section5 .sec5-in .boxs .box3 .box3-in .box3-text .box2-p1,
.section5 .sec5-in .boxs .box3 .box3-in .box3-text .box3-p1 {
  color: rgb(136, 136, 136);
  margin-top: 5px;
}
.section5 .sec5-in .boxs .box1 .box1-p2,
.section5 .sec5-in .boxs .box1 .box2-p2,
.section5 .sec5-in .boxs .box1 .box3-p2,
.section5 .sec5-in .boxs .box2 .box1-p2,
.section5 .sec5-in .boxs .box2 .box2-p2,
.section5 .sec5-in .boxs .box2 .box3-p2,
.section5 .sec5-in .boxs .box3 .box1-p2,
.section5 .sec5-in .boxs .box3 .box2-p2,
.section5 .sec5-in .boxs .box3 .box3-p2 {
  margin-top: 2.5rem;
  margin-left: 5%;
  margin-right: 5%;
  line-height: 25px;
  color: rgb(136, 136, 136);
}
.section5 .sec5-in .cricles {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 3rem;
}
.section5 .sec5-in .cricles .cricle1,
.section5 .sec5-in .cricles .cricle2,
.section5 .sec5-in .cricles .cricle3,
.section5 .sec5-in .cricles .cricle4 {
  width: 10px;
  height: 10px;
  border-radius: 9999px;
  background-color: rgb(250, 224, 198);
  cursor: pointer;
}

.section6 {
  width: 100%;
  padding: 0 100px;
}
.section6 .sec6-head {
  text-align: center;
  margin-top: 5rem;
}
.section6 .sec6-head h1 {
  font-size: 45px;
  margin-top: 1rem;
}
.section6 .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 20px;
}
.section6 .nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
}
.section6 .nav ul li .a2 {
  color: rgb(136, 136, 136);
  text-decoration: none;
}
.section6 .nav ul li .a2::after {
  content: "";
  width: 0;
  height: 2.5px;
  background-color: rgb(255, 98, 0);
  margin: auto;
  margin-top: 5px;
  display: block;
}
.section6 .nav ul li .a2:hover::after {
  width: 40%;
}
.section6 .boxs {
  display: grid;
  grid-template-rows: 350px 350px 350px;
  grid-template-columns: auto auto auto;
  gap: 20px;
  margin-top: 1rem;
}
.section6 .boxs .box1,
.section6 .boxs .box2,
.section6 .boxs .box3,
.section6 .boxs .box4,
.section6 .boxs .box5,
.section6 .boxs .box6,
.section6 .boxs .box7,
.section6 .boxs .box8 {
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  position: relative;
}
.section6 .boxs .box1::after,
.section6 .boxs .box2::after,
.section6 .boxs .box3::after,
.section6 .boxs .box4::after,
.section6 .boxs .box5::after,
.section6 .boxs .box6::after,
.section6 .boxs .box7::after,
.section6 .boxs .box8::after {
  content: "";
  position: absolute;
  background-color: rgba(5, 5, 5, 0.5);
  height: 100%;
  width: 0;
  transition: 0.3s;
}
.section6 .boxs .box1:hover::after,
.section6 .boxs .box2:hover::after,
.section6 .boxs .box3:hover::after,
.section6 .boxs .box4:hover::after,
.section6 .boxs .box5:hover::after,
.section6 .boxs .box6:hover::after,
.section6 .boxs .box7:hover::after,
.section6 .boxs .box8:hover::after {
  width: 100%;
}
.section6 .boxs .box1 {
  background-image: url(https://credesign.vercel.app/multiPage/img/portfolioOne.png);
}
.section6 .boxs .box2 {
  background-image: url(https://credesign.vercel.app/multiPage/img/portfolioTwo.png);
}
.section6 .boxs .box3 {
  background-image: url(https://credesign.vercel.app/multiPage/img/portfolioThree.png);
}
.section6 .boxs .box4 {
  background-image: url(https://credesign.vercel.app/multiPage/img/portfolioFour.png);
}
.section6 .boxs .box5 {
  background-image: url(https://credesign.vercel.app/multiPage/img/portfolioFive.png);
}
.section6 .boxs .box6 {
  background-image: url(https://credesign.vercel.app/multiPage/img/portfolioSix.png);
}
.section6 .boxs .box7 {
  background-image: url(https://credesign.vercel.app/multiPage/img/portfolioSeven.png);
}
.section6 .boxs .box8 {
  background-image: url(https://credesign.vercel.app/multiPage/img/portfolioEight.png);
  grid-row: 3/4;
  grid-column: 2/4;
}

.section7 {
  width: 100%;
  padding: 0 100px;
}
.section7 .sec7-head {
  text-align: center;
  margin-top: 5rem;
}
.section7 .sec7-head h1 {
  font-size: 45px;
  margin-top: 1rem;
}
.section7 .boxs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}
.section7 .boxs .box1,
.section7 .boxs .box2,
.section7 .boxs .box3,
.section7 .boxs .box4,
.section7 .boxs .box5,
.section7 .boxs .box6 {
  width: 15%;
  height: 150px;
  border: 1px solid rgb(255, 221, 158);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section7 .boxs .box1 img,
.section7 .boxs .box2 img,
.section7 .boxs .box3 img,
.section7 .boxs .box4 img,
.section7 .boxs .box5 img,
.section7 .boxs .box6 img {
  width: 60%;
  height: 60%;
}
.section7 .boxs .box1 img:hover,
.section7 .boxs .box2 img:hover,
.section7 .boxs .box3 img:hover,
.section7 .boxs .box4 img:hover,
.section7 .boxs .box5 img:hover,
.section7 .boxs .box6 img:hover {
  transform: scale(1.2);
  transition: 1s;
}
.section7 .ovals {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 3rem;
}
.section7 .ovals .oval1,
.section7 .ovals .oval2,
.section7 .ovals .oval3,
.section7 .ovals .oval4,
.section7 .ovals .oval5,
.section7 .ovals .oval6,
.section7 .ovals .oval7 {
  width: 20px;
  height: 3.5px;
  background-color: rgb(225, 225, 225);
  border-radius: 5px;
  cursor: pointer;
}

.section8 {
  width: 100%;
  padding: 0 100px;
}
.section8 .sec8-head {
  text-align: center;
  margin-top: 5rem;
}
.section8 .sec8-head h1 {
  font-size: 45px;
  margin-top: 1rem;
}
.section8 .cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}
.section8 .cards .card1,
.section8 .cards .card2,
.section8 .cards .card3 {
  width: 32%;
  height: 450px;
  border: 1px solid rgb(255, 218, 149);
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section8 .cards .card1 p,
.section8 .cards .card2 p,
.section8 .cards .card3 p {
  margin-top: 2rem;
  color: rgb(136, 136, 136);
}
.section8 .cards .card1 h1,
.section8 .cards .card2 h1,
.section8 .cards .card3 h1 {
  margin-top: 2rem;
}
.section8 .cards .card1 h1:hover,
.section8 .cards .card2 h1:hover,
.section8 .cards .card3 h1:hover {
  cursor: pointer;
  color: rgb(255, 98, 0);
  transition: 0.3s;
}
.section8 .cards .card1 span,
.section8 .cards .card1 i,
.section8 .cards .card2 span,
.section8 .cards .card2 i,
.section8 .cards .card3 span,
.section8 .cards .card3 i {
  color: rgb(255, 98, 0);
  font-weight: bold;
  cursor: pointer;
}
.section8 .cards .card1 i,
.section8 .cards .card2 i,
.section8 .cards .card3 i {
  margin-left: 5px;
}

.section9 {
  width: 100%;
  padding: 0 100px;
}
.section9 .sec9-head {
  text-align: center;
  margin-top: 5rem;
}
.section9 .sec9-head h1 {
  font-size: 45px;
  margin-top: 1rem;
}
.section9 .sec9-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section9 .sec9-in .forinput {
  margin-top: 3rem;
}
.section9 .sec9-in .forinput input {
  padding-top: 25px;
  padding-right: 200px;
  padding-bottom: 25px;
  padding-left: 15px;
  margin-top: 1.5rem;
  margin-right: 1rem;
  border: 1px solid rgb(255, 206, 114);
  border-radius: 7px;
}
.section9 .sec9-in .foradrs .adrs1,
.section9 .sec9-in .foradrs .adrs2,
.section9 .sec9-in .foradrs .adrs3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
.section9 .sec9-in .foradrs .adrs1 .fori i,
.section9 .sec9-in .foradrs .adrs2 .fori i,
.section9 .sec9-in .foradrs .adrs3 .fori i {
  font-size: 25px;
  padding: 12px;
  background-color: rgb(249, 209, 170);
  border-radius: 5px;
  margin-right: 1rem;
  color: rgb(255, 98, 0);
}
.section9 .sec9-in .foradrs .adrs1 .foratext p,
.section9 .sec9-in .foradrs .adrs2 .foratext p,
.section9 .sec9-in .foradrs .adrs3 .foratext p {
  color: rgb(136, 136, 136);
}
.section9 .sec9-in .foradrs .adrs1 .foratext p:hover,
.section9 .sec9-in .foradrs .adrs2 .foratext p:hover,
.section9 .sec9-in .foradrs .adrs3 .foratext p:hover {
  color: rgb(255, 98, 0);
  transition: 0.3s;
  cursor: pointer;
}
.section9 button {
  font-size: 20px;
  padding: 15px 30px;
  color: white;
  border: none;
  border-radius: 8px;
  background-color: rgb(255, 98, 0);
  font-weight: bold;
  margin-top: 3rem;
}
.section9 button:hover {
  background-color: black;
  color: rgb(255, 98, 0);
  transition: 0.5s;
  cursor: pointer;
}

footer {
  width: 100%;
  padding: 30px 100px;
  background-color: black;
  margin-top: 5rem;
}
footer .footer-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-in .ftr1 p {
  color: white;
  font-size: 15px;
  line-height: 25px;
  margin-top: 1.2rem;
}
footer .footer-in .ftr1 h2 {
  margin-top: 2rem;
  color: white;
}
footer .footer-in .ftr2 h2 {
  color: white;
}
footer .footer-in .ftr2 ul li {
  margin-top: 1.2rem;
}
footer .footer-in .ftr2 ul li a {
  color: white;
  text-decoration: none;
}
footer .footer-in .ftr2 ul li a:hover {
  color: rgb(255, 98, 0);
  transition: 0.3s;
}
footer .footer-in .ftr3 h2 {
  color: white;
}
footer .footer-in .ftr3 ul li {
  margin-top: 1.2rem;
}
footer .footer-in .ftr3 ul li a {
  color: white;
  text-decoration: none;
}
footer .footer-in .ftr3 ul li a:hover {
  color: rgb(255, 98, 0);
  transition: 0.3s;
}
footer .footer-in .ftr4 h2 {
  color: white;
}
footer .footer-in .ftr4 .forficon {
  margin-top: 3rem;
}
footer .footer-in .ftr4 .forficon i {
  color: white;
  font-size: 20px;
  padding: 10px;
  background-color: rgb(255, 98, 0);
  border-radius: 8px;
  margin-right: 10px;
}
footer .footer-in .ftr4 .forficon i:hover {
  background-color: white;
  color: rgb(255, 98, 0);
  transition: 0.3s;
  cursor: pointer;
}
footer .footer-in .ftr4 .fora1 {
  margin-top: 2rem;
}
footer .footer-in .ftr4 .fora1 i {
  color: rgb(255, 98, 0);
  font-size: 15px;
}
footer .footer-in .ftr4 .fora1 span {
  color: white;
}
footer .footer-in .ftr4 .fora2 {
  margin-top: 2rem;
}
footer .footer-in .ftr4 .fora2 i {
  color: rgb(255, 98, 0);
  font-size: 15px;
}
footer .footer-in .ftr4 .fora2 span {
  color: white;
}
footer .footerend {
  margin-top: 15rem;
}
footer .footerend .footer-in {
  margin-top: 3rem;
}
footer .footerend .footer-in .textl p {
  color: white;
}
footer .footerend .footer-in .textr {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
footer .footerend .footer-in .textr p {
  color: white;
}
footer .footerend .footer-in .textr p:hover {
  color: rgb(255, 98, 0);
  transition: 0.3s;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .navbar nav ul,
  .navbar nav button {
    display: none;
  }
  .navbar nav i {
    display: block;
  }
  .section1 {
    width: auto;
  }
  .section1 .sec1-in {
    flex-direction: column;
  }
  .section1 .sec1-in .fortext {
    flex-wrap: nowrap;
    margin-top: 1rem;
  }
  .section1 .sec1-in .forimg {
    width: auto;
    margin-top: 1rem;
  }
  .section2 {
    width: auto;
  }
  .section2 .sec2-in {
    flex-direction: column;
  }
  .section2 .sec2-in .fortext {
    flex-wrap: nowrap;
    margin-top: 1rem;
  }
  .section2 .sec2-in .fortext .for-icons {
    flex-direction: column;
  }
  .section2 .sec2-in .fortext .divss .divs1,
  .section2 .sec2-in .fortext .divss .divs2 {
    flex-direction: column;
    margin-top: 1rem;
    gap: 20px;
  }
  .section2 .sec2-in .forimg {
    width: auto;
    margin-top: 1rem;
  }
  .section3 {
    width: auto;
  }
  .section3 .sec3-in .boxs1,
  .section3 .sec3-in .boxs2 {
    flex-direction: column;
    gap: 20px;
  }
  .section3 .sec3-in .boxs1 .box1,
  .section3 .sec3-in .boxs1 .box2,
  .section3 .sec3-in .boxs1 .box3,
  .section3 .sec3-in .boxs1 .box4,
  .section3 .sec3-in .boxs2 .box1,
  .section3 .sec3-in .boxs2 .box2,
  .section3 .sec3-in .boxs2 .box3,
  .section3 .sec3-in .boxs2 .box4 {
    width: 100%;
  }
  .section4 {
    width: auto;
  }
  .section4 .sec4-in {
    flex-direction: column;
  }
  .section4 .sec4-in .scrollstick {
    display: none;
  }
  .section4 .sec4-in .fortext {
    width: 100%;
  }
  .section4 .sec4-in .fortext .boxs1,
  .section4 .sec4-in .fortext .boxs2,
  .section4 .sec4-in .fortext .boxs3 {
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 20px;
  }
  .section4 .sec4-in .fortext .boxs1 .box1,
  .section4 .sec4-in .fortext .boxs1 .box2,
  .section4 .sec4-in .fortext .boxs1 .box3,
  .section4 .sec4-in .fortext .boxs2 .box1,
  .section4 .sec4-in .fortext .boxs2 .box2,
  .section4 .sec4-in .fortext .boxs2 .box3,
  .section4 .sec4-in .fortext .boxs3 .box1,
  .section4 .sec4-in .fortext .boxs3 .box2,
  .section4 .sec4-in .fortext .boxs3 .box3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .section5 {
    width: auto;
  }
  .section5 .sec5-in .boxs {
    flex-direction: column;
  }
  .section5 .sec5-in .boxs .box1,
  .section5 .sec5-in .boxs .box2,
  .section5 .sec5-in .boxs .box3 {
    width: 100%;
    height: auto;
  }
  .section5 .sec5-in .boxs .box1 .box1-in,
  .section5 .sec5-in .boxs .box1 .box2-in,
  .section5 .sec5-in .boxs .box1 .box3-in,
  .section5 .sec5-in .boxs .box2 .box1-in,
  .section5 .sec5-in .boxs .box2 .box2-in,
  .section5 .sec5-in .boxs .box2 .box3-in,
  .section5 .sec5-in .boxs .box3 .box1-in,
  .section5 .sec5-in .boxs .box3 .box2-in,
  .section5 .sec5-in .boxs .box3 .box3-in {
    flex-wrap: nowrap;
  }
  .section5 .sec5-in .cricles {
    display: none;
  }
  .section6 {
    width: auto;
  }
  .section6 .nav {
    display: none;
  }
  .section7 {
    width: auto;
  }
  .section7 .boxs {
    flex-direction: column;
    gap: 30px;
  }
  .section7 .boxs .box1,
  .section7 .boxs .box2,
  .section7 .boxs .box3,
  .section7 .boxs .box4,
  .section7 .boxs .box5,
  .section7 .boxs .box6 {
    width: 100%;
    height: auto;
  }
  .section7 .ovals {
    display: none;
  }
  .section8 .cards {
    flex-direction: column;
    gap: 50px;
  }
  .section8 .cards .card1,
  .section8 .cards .card2,
  .section8 .cards .card3 {
    width: 100%;
    height: auto;
  }
  .section9 {
    width: auto;
  }
  .section9 .sec9-in {
    flex-direction: column;
  }
  .section9 .sec9-in .forinput {
    flex-direction: column;
  }
  footer {
    width: auto;
  }
  footer .footer-in {
    flex-direction: column;
    gap: 50px;
  }
  footer .footerend {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */