* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ff6200;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #606060;
}

.container {
  max-width: 1350px;
  margin: auto;
  padding: 0 32px;
}

nav .nav-btn {
  color: white;
  background-color: #ff6200;
  border: none;
  padding: 10px 32px;
  border-radius: 6px;
  font-size: 21px;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

nav .nav-btn:hover {
  color: #ff6200;
}

nav .nav-btn::after {
  content: "";
  position: absolute;
  background-color: #101010;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -1;
}

nav .nav-btn:hover::after {
  width: 100%;
}

.section1 {
  width: 100%;
  padding: 50px 0px 0px 0px;
  background-color: linen;
}

.section1 .sec1-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section1 .sec1-in .fortext {
  min-width: 400px;
}

.section1 .sec1-in .fortext .sec1-p1 {
  display: inline;
  color: #212529;
  font-size: 16px;
  margin: 0px 0px 0px 10px;
}

.section1 .sec1-in .fortext h1 {
  color: #101010;
  font-size: 60px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  line-height: 1.2em;
  padding: 0px 119.613px 0px 0px;
}

.section1 .sec1-in .fortext p {
  color: #888888;
  line-height: 35px;
  font-size: 18px;
  margin-top: 1rem;
}

.section1 .sec1-in .fortext button {
  font-size: 20px;
  padding: 15px 30px;
  color: white;
  border: none;
  border-radius: 8px;
  background-color: #ff6200;
  font-weight: bold;
  margin-top: 3rem;
}

.section1 .sec1-in .fortext button:hover {
  background-color: black;
  color: #ff6200;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.section1 .sec1-in .forimg {
  width: 50%;
  min-width: 400px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.section1 .sec1-in .forimg img {
  width: 100%;
  height: 650px;
}

.section2 {
  width: 100%;
  padding: 100px 0px;
}

.section2 .sec2-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.section2 .sec2-in .forimg {
  width: 43%;
  min-width: 400px;
  height: 750px;
}

.section2 .sec2-in .forimg img {
  width: 100%;
}

.section2 .sec2-in .fortext h1 {
  color: #101010;
  font-weight: 700;
  line-height: 1.3em;
  font-size: 44px;
}

.section2 .sec2-in .fortext p {
  font-size: 17px;
  color: #888888;
  margin-top: 1rem;
  line-height: 25px;
}

.section2 .sec2-in .fortext .for-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section2 .sec2-in .fortext .for-icons .foricon1,
.section2 .sec2-in .fortext .for-icons .foricon2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.section2 .sec2-in .fortext .for-icons .foricon1 .text,
.section2 .sec2-in .fortext .for-icons .foricon2 .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
}

.section2 .sec2-in .fortext .for-icons .foricon1 .text .span-zero,
.section2 .sec2-in .fortext .for-icons .foricon2 .text .span-zero {
  font-size: 21px;
  font-weight: 700;
  color: #ff6200;
}

.section2 .sec2-in .fortext .for-icons .foricon1 .text .span-nozero,
.section2 .sec2-in .fortext .for-icons .foricon2 .text .span-nozero {
  font-size: 18px;
  color: #101010;
  font-weight: 500;
}

.section2 .sec2-in .fortext .divss {
  margin-top: 4rem;
}

.section2 .sec2-in .fortext .divss .divs1,
.section2 .sec2-in .fortext .divss .divs2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section2 .sec2-in .fortext .divss .divs1 i,
.section2 .sec2-in .fortext .divss .divs2 i {
  color: #ff6200;
}

.section2 .sec2-in .fortext .divss .divs1 span,
.section2 .sec2-in .fortext .divss .divs2 span {
  margin-left: 10px;
}

.section2 .sec2-in .fortext button {
  font-size: 20px;
  padding: 15px 30px;
  color: white;
  border: none;
  border-radius: 8px;
  background-color: #ff6200;
  font-weight: bold;
  margin-top: 5rem;
}

.section2 .sec2-in .fortext button:hover {
  background-color: black;
  color: #ff6200;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.section3 {
  width: 100%;
  padding: 100px 0px;
}

.section3 .sec3-head {
  text-align: center;
}

.section3 .sec3-head h1 {
  color: #101010;
  font-size: 44px;
  font-weight: 700;
  line-height: 1.3em;
  margin-top: 1rem;
}

.section3 .sec3-in .boxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  margin-top: 3rem;
}

.section3 .sec3-in .boxs .box {
  width: 23%;
  padding: 50px 30px;
  border-radius: 8px;
  border: 1px solid #ffe2d1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.section3 .sec3-in .boxs .box h1 {
  color: #101010;
  font-size: 24px;
  margin: 20px 0px 13px;
}

.section3 .sec3-in .boxs .box:hover {
  background-color: linen;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section3 .sec3-in .boxs .box p {
  color: #888888;
  line-height: 25px;
}

.section4 {
  width: 100%;
  padding: 100px 0px;
  background-color: linen;
}

.section4 .sec4-head {
  text-align: center;
}

.section4 .sec4-head h1 {
  color: #101010;
  font-size: 44px;
  font-weight: 700;
  margin-top: 1rem;
}

.section4 .sec4-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section4 .sec4-in .scrollstick {
  width: 2px;
  height: 700px;
  background-color: #888888;
  position: relative;
}

.section4 .sec4-in .scrollstick .cricle1,
.section4 .sec4-in .scrollstick .cricle2,
.section4 .sec4-in .scrollstick .cricle3 {
  height: 20px;
  width: 20px;
  border-radius: 9999px;
  background-color: #ff6200;
  position: absolute;
  left: -8px;
}

.section4 .sec4-in .scrollstick .cricle1 span,
.section4 .sec4-in .scrollstick .cricle2 span,
.section4 .sec4-in .scrollstick .cricle3 span {
  font-size: 25px;
  margin-left: 30px;
}

.section4 .sec4-in .scrollstick .cricle1 {
  margin-top: 7rem;
}

.section4 .sec4-in .scrollstick .cricle2 {
  margin-top: 22rem;
}

.section4 .sec4-in .scrollstick .cricle3 {
  margin-top: 37rem;
}

.section4 .sec4-in .fortext {
  width: 80%;
}

.section4 .sec4-in .fortext .boxs1,
.section4 .sec4-in .fortext .boxs2,
.section4 .sec4-in .fortext .boxs3 {
  width: 100%;
  padding: 33px 20px;
  background-color: white;
  margin-top: 1.5rem;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section4 .sec4-in .fortext .boxs1 .box1,
.section4 .sec4-in .fortext .boxs1 .box2,
.section4 .sec4-in .fortext .boxs2 .box1,
.section4 .sec4-in .fortext .boxs2 .box2,
.section4 .sec4-in .fortext .boxs3 .box1,
.section4 .sec4-in .fortext .boxs3 .box2 {
  border-right: 1px solid #D1D1D1;
}

.section4 .sec4-in .fortext .boxs1 .box1,
.section4 .sec4-in .fortext .boxs1 .box2,
.section4 .sec4-in .fortext .boxs1 .box3,
.section4 .sec4-in .fortext .boxs2 .box1,
.section4 .sec4-in .fortext .boxs2 .box2,
.section4 .sec4-in .fortext .boxs2 .box3,
.section4 .sec4-in .fortext .boxs3 .box1,
.section4 .sec4-in .fortext .boxs3 .box2,
.section4 .sec4-in .fortext .boxs3 .box3 {
  width: 30%;
}

.section4 .sec4-in .fortext .boxs1 .box1 h3,
.section4 .sec4-in .fortext .boxs1 .box2 h3,
.section4 .sec4-in .fortext .boxs1 .box3 h3,
.section4 .sec4-in .fortext .boxs2 .box1 h3,
.section4 .sec4-in .fortext .boxs2 .box2 h3,
.section4 .sec4-in .fortext .boxs2 .box3 h3,
.section4 .sec4-in .fortext .boxs3 .box1 h3,
.section4 .sec4-in .fortext .boxs3 .box2 h3,
.section4 .sec4-in .fortext .boxs3 .box3 h3 {
  color: black;
  font-size: 21px;
  font-weight: 500;
}

.section4 .sec4-in .fortext .boxs1 .box1 p,
.section4 .sec4-in .fortext .boxs1 .box2 p,
.section4 .sec4-in .fortext .boxs1 .box3 p,
.section4 .sec4-in .fortext .boxs2 .box1 p,
.section4 .sec4-in .fortext .boxs2 .box2 p,
.section4 .sec4-in .fortext .boxs2 .box3 p,
.section4 .sec4-in .fortext .boxs3 .box1 p,
.section4 .sec4-in .fortext .boxs3 .box2 p,
.section4 .sec4-in .fortext .boxs3 .box3 p {
  color: #606060;
  line-height: 25px;
  margin-top: 1rem;
}

.section5 {
  width: 100%;
  padding: 100px 0px;
}

.section5 .sec5-head {
  text-align: center;
}

.section5 .sec5-head h1 {
  color: #101010;
  font-size: 44px;
  font-weight: 700;
  margin-top: 1rem;
}

.section5 .sec5-in .boxs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  margin-top: 3rem;
}

.section5 .sec5-in .boxs .box1,
.section5 .sec5-in .boxs .box2,
.section5 .sec5-in .boxs .box3 {
  width: 31%;
  padding: 30px 20px;
  background-color: #fbf7f3;
  border: none;
  border-radius: 5px;
}

.section5 .sec5-in .boxs .box1:hover,
.section5 .sec5-in .boxs .box2:hover,
.section5 .sec5-in .boxs .box3:hover {
  background-color: linen;
  -webkit-transition: .1s;
  transition: .1s;
}

.section5 .sec5-in .boxs .box1 .box1-in,
.section5 .sec5-in .boxs .box1 .box2-in,
.section5 .sec5-in .boxs .box1 .box3-in,
.section5 .sec5-in .boxs .box2 .box1-in,
.section5 .sec5-in .boxs .box2 .box2-in,
.section5 .sec5-in .boxs .box2 .box3-in,
.section5 .sec5-in .boxs .box3 .box1-in,
.section5 .sec5-in .boxs .box3 .box2-in,
.section5 .sec5-in .boxs .box3 .box3-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.section5 .sec5-in .boxs .box1 .box1-in .box1-text h3,
.section5 .sec5-in .boxs .box1 .box1-in .box2-text h3,
.section5 .sec5-in .boxs .box1 .box1-in .box3-text h3,
.section5 .sec5-in .boxs .box1 .box2-in .box1-text h3,
.section5 .sec5-in .boxs .box1 .box2-in .box2-text h3,
.section5 .sec5-in .boxs .box1 .box2-in .box3-text h3,
.section5 .sec5-in .boxs .box1 .box3-in .box1-text h3,
.section5 .sec5-in .boxs .box1 .box3-in .box2-text h3,
.section5 .sec5-in .boxs .box1 .box3-in .box3-text h3,
.section5 .sec5-in .boxs .box2 .box1-in .box1-text h3,
.section5 .sec5-in .boxs .box2 .box1-in .box2-text h3,
.section5 .sec5-in .boxs .box2 .box1-in .box3-text h3,
.section5 .sec5-in .boxs .box2 .box2-in .box1-text h3,
.section5 .sec5-in .boxs .box2 .box2-in .box2-text h3,
.section5 .sec5-in .boxs .box2 .box2-in .box3-text h3,
.section5 .sec5-in .boxs .box2 .box3-in .box1-text h3,
.section5 .sec5-in .boxs .box2 .box3-in .box2-text h3,
.section5 .sec5-in .boxs .box2 .box3-in .box3-text h3,
.section5 .sec5-in .boxs .box3 .box1-in .box1-text h3,
.section5 .sec5-in .boxs .box3 .box1-in .box2-text h3,
.section5 .sec5-in .boxs .box3 .box1-in .box3-text h3,
.section5 .sec5-in .boxs .box3 .box2-in .box1-text h3,
.section5 .sec5-in .boxs .box3 .box2-in .box2-text h3,
.section5 .sec5-in .boxs .box3 .box2-in .box3-text h3,
.section5 .sec5-in .boxs .box3 .box3-in .box1-text h3,
.section5 .sec5-in .boxs .box3 .box3-in .box2-text h3,
.section5 .sec5-in .boxs .box3 .box3-in .box3-text h3 {
  color: #101010;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3em;
}

.section5 .sec5-in .boxs .box1 .box1-in .box1-text .box1-p1,
.section5 .sec5-in .boxs .box1 .box1-in .box1-text .box2-p1,
.section5 .sec5-in .boxs .box1 .box1-in .box1-text .box3-p1,
.section5 .sec5-in .boxs .box1 .box1-in .box2-text .box1-p1,
.section5 .sec5-in .boxs .box1 .box1-in .box2-text .box2-p1,
.section5 .sec5-in .boxs .box1 .box1-in .box2-text .box3-p1,
.section5 .sec5-in .boxs .box1 .box1-in .box3-text .box1-p1,
.section5 .sec5-in .boxs .box1 .box1-in .box3-text .box2-p1,
.section5 .sec5-in .boxs .box1 .box1-in .box3-text .box3-p1,
.section5 .sec5-in .boxs .box1 .box2-in .box1-text .box1-p1,
.section5 .sec5-in .boxs .box1 .box2-in .box1-text .box2-p1,
.section5 .sec5-in .boxs .box1 .box2-in .box1-text .box3-p1,
.section5 .sec5-in .boxs .box1 .box2-in .box2-text .box1-p1,
.section5 .sec5-in .boxs .box1 .box2-in .box2-text .box2-p1,
.section5 .sec5-in .boxs .box1 .box2-in .box2-text .box3-p1,
.section5 .sec5-in .boxs .box1 .box2-in .box3-text .box1-p1,
.section5 .sec5-in .boxs .box1 .box2-in .box3-text .box2-p1,
.section5 .sec5-in .boxs .box1 .box2-in .box3-text .box3-p1,
.section5 .sec5-in .boxs .box1 .box3-in .box1-text .box1-p1,
.section5 .sec5-in .boxs .box1 .box3-in .box1-text .box2-p1,
.section5 .sec5-in .boxs .box1 .box3-in .box1-text .box3-p1,
.section5 .sec5-in .boxs .box1 .box3-in .box2-text .box1-p1,
.section5 .sec5-in .boxs .box1 .box3-in .box2-text .box2-p1,
.section5 .sec5-in .boxs .box1 .box3-in .box2-text .box3-p1,
.section5 .sec5-in .boxs .box1 .box3-in .box3-text .box1-p1,
.section5 .sec5-in .boxs .box1 .box3-in .box3-text .box2-p1,
.section5 .sec5-in .boxs .box1 .box3-in .box3-text .box3-p1,
.section5 .sec5-in .boxs .box2 .box1-in .box1-text .box1-p1,
.section5 .sec5-in .boxs .box2 .box1-in .box1-text .box2-p1,
.section5 .sec5-in .boxs .box2 .box1-in .box1-text .box3-p1,
.section5 .sec5-in .boxs .box2 .box1-in .box2-text .box1-p1,
.section5 .sec5-in .boxs .box2 .box1-in .box2-text .box2-p1,
.section5 .sec5-in .boxs .box2 .box1-in .box2-text .box3-p1,
.section5 .sec5-in .boxs .box2 .box1-in .box3-text .box1-p1,
.section5 .sec5-in .boxs .box2 .box1-in .box3-text .box2-p1,
.section5 .sec5-in .boxs .box2 .box1-in .box3-text .box3-p1,
.section5 .sec5-in .boxs .box2 .box2-in .box1-text .box1-p1,
.section5 .sec5-in .boxs .box2 .box2-in .box1-text .box2-p1,
.section5 .sec5-in .boxs .box2 .box2-in .box1-text .box3-p1,
.section5 .sec5-in .boxs .box2 .box2-in .box2-text .box1-p1,
.section5 .sec5-in .boxs .box2 .box2-in .box2-text .box2-p1,
.section5 .sec5-in .boxs .box2 .box2-in .box2-text .box3-p1,
.section5 .sec5-in .boxs .box2 .box2-in .box3-text .box1-p1,
.section5 .sec5-in .boxs .box2 .box2-in .box3-text .box2-p1,
.section5 .sec5-in .boxs .box2 .box2-in .box3-text .box3-p1,
.section5 .sec5-in .boxs .box2 .box3-in .box1-text .box1-p1,
.section5 .sec5-in .boxs .box2 .box3-in .box1-text .box2-p1,
.section5 .sec5-in .boxs .box2 .box3-in .box1-text .box3-p1,
.section5 .sec5-in .boxs .box2 .box3-in .box2-text .box1-p1,
.section5 .sec5-in .boxs .box2 .box3-in .box2-text .box2-p1,
.section5 .sec5-in .boxs .box2 .box3-in .box2-text .box3-p1,
.section5 .sec5-in .boxs .box2 .box3-in .box3-text .box1-p1,
.section5 .sec5-in .boxs .box2 .box3-in .box3-text .box2-p1,
.section5 .sec5-in .boxs .box2 .box3-in .box3-text .box3-p1,
.section5 .sec5-in .boxs .box3 .box1-in .box1-text .box1-p1,
.section5 .sec5-in .boxs .box3 .box1-in .box1-text .box2-p1,
.section5 .sec5-in .boxs .box3 .box1-in .box1-text .box3-p1,
.section5 .sec5-in .boxs .box3 .box1-in .box2-text .box1-p1,
.section5 .sec5-in .boxs .box3 .box1-in .box2-text .box2-p1,
.section5 .sec5-in .boxs .box3 .box1-in .box2-text .box3-p1,
.section5 .sec5-in .boxs .box3 .box1-in .box3-text .box1-p1,
.section5 .sec5-in .boxs .box3 .box1-in .box3-text .box2-p1,
.section5 .sec5-in .boxs .box3 .box1-in .box3-text .box3-p1,
.section5 .sec5-in .boxs .box3 .box2-in .box1-text .box1-p1,
.section5 .sec5-in .boxs .box3 .box2-in .box1-text .box2-p1,
.section5 .sec5-in .boxs .box3 .box2-in .box1-text .box3-p1,
.section5 .sec5-in .boxs .box3 .box2-in .box2-text .box1-p1,
.section5 .sec5-in .boxs .box3 .box2-in .box2-text .box2-p1,
.section5 .sec5-in .boxs .box3 .box2-in .box2-text .box3-p1,
.section5 .sec5-in .boxs .box3 .box2-in .box3-text .box1-p1,
.section5 .sec5-in .boxs .box3 .box2-in .box3-text .box2-p1,
.section5 .sec5-in .boxs .box3 .box2-in .box3-text .box3-p1,
.section5 .sec5-in .boxs .box3 .box3-in .box1-text .box1-p1,
.section5 .sec5-in .boxs .box3 .box3-in .box1-text .box2-p1,
.section5 .sec5-in .boxs .box3 .box3-in .box1-text .box3-p1,
.section5 .sec5-in .boxs .box3 .box3-in .box2-text .box1-p1,
.section5 .sec5-in .boxs .box3 .box3-in .box2-text .box2-p1,
.section5 .sec5-in .boxs .box3 .box3-in .box2-text .box3-p1,
.section5 .sec5-in .boxs .box3 .box3-in .box3-text .box1-p1,
.section5 .sec5-in .boxs .box3 .box3-in .box3-text .box2-p1,
.section5 .sec5-in .boxs .box3 .box3-in .box3-text .box3-p1 {
  color: #888888;
  margin-top: 5px;
}

.section5 .sec5-in .boxs .box1 .box1-p2,
.section5 .sec5-in .boxs .box1 .box2-p2,
.section5 .sec5-in .boxs .box1 .box3-p2,
.section5 .sec5-in .boxs .box2 .box1-p2,
.section5 .sec5-in .boxs .box2 .box2-p2,
.section5 .sec5-in .boxs .box2 .box3-p2,
.section5 .sec5-in .boxs .box3 .box1-p2,
.section5 .sec5-in .boxs .box3 .box2-p2,
.section5 .sec5-in .boxs .box3 .box3-p2 {
  color: #606060;
  margin-top: 15px;
  line-height: 25px;
}

.section5 .sec5-in .cricles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-top: 3rem;
}

.section5 .sec5-in .cricles .cricle {
  width: 10px;
  height: 10px;
  border-radius: 9999px;
  background-color: #fae0c6;
  cursor: pointer;
}

.section6 {
  width: 100%;
  padding: 100px 0px;
}

.section6 .sec6-head {
  text-align: center;
}

.section6 .sec6-head h1 {
  color: #101010;
  font-size: 44px;
  font-weight: 700;
  margin-top: 1rem;
}

.section6 .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 10% 20px 10%;
}

.section6 .nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
}

.section6 .nav ul li .a2 {
  color: #888888;
  text-decoration: none;
}

.section6 .nav ul li .a2::after {
  content: "";
  width: 0;
  height: 2.5px;
  background-color: #ff6200;
  margin: auto;
  margin-top: 5px;
  display: block;
}

.section6 .nav ul li .a2:hover::after {
  width: 40%;
}

.section6 .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.section6 .grid div {
  position: relative;
}

.section6 .grid div::after {
  content: "";
  position: absolute;
  background-color: rgba(5, 5, 5, 0.5);
  height: 100%;
  left: 0;
  width: 0;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 10px;
}

.section6 .grid div:hover::after {
  width: 100%;
}

.section6 .grid div img {
  border-radius: 10px;
  width: 100%;
  height: auto;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -o-object-fit: cover;
     object-fit: cover;
}

.section6 .grid .grid-item1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.section6 .grid .grid-item1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section6 .grid .grid-item2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.section6 .grid .grid-item2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section6 .grid .grid-item3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.section6 .grid .grid-item3 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section6 .grid .grid-item4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.section6 .grid .grid-item4 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section6 .grid .grid-item5 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.section6 .grid .grid-item5 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section6 .grid .grid-item6 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.section6 .grid .grid-item6 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section6 .grid .grid-item7 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.section6 .grid .grid-item7 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section6 .grid .grid-item8 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.section6 .grid .grid-item8 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section7 {
  width: 100%;
  padding: 100px 0px;
}

.section7 .sec7-head {
  text-align: center;
}

.section7 .sec7-head h1 {
  color: #101010;
  font-size: 44px;
  font-weight: 700;
  margin-top: 1rem;
}

.section7 .boxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

.section7 .boxs .box {
  width: 15%;
  height: 150px;
  border: 1px solid #ffdd9e;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section7 .boxs .box img {
  width: 60%;
  height: 60%;
}

.section7 .boxs .box img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 1s;
  transition: 1s;
}

.section7 .ovals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-top: 3rem;
}

.section7 .ovals .oval1,
.section7 .ovals .oval2,
.section7 .ovals .oval3,
.section7 .ovals .oval4,
.section7 .ovals .oval5,
.section7 .ovals .oval6,
.section7 .ovals .oval7 {
  width: 20px;
  height: 3.5px;
  background-color: #e1e1e1;
  border-radius: 5px;
  cursor: pointer;
}

.section8 {
  width: 100%;
  padding: 100px 0px;
}

.section8 .sec8-head {
  text-align: center;
}

.section8 .sec8-head h1 {
  color: #101010;
  font-size: 44px;
  font-weight: 700;
  margin-top: 1rem;
}

.section8 .cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 3rem;
}

.section8 .cards .card {
  width: 32%;
  border: 1px solid #ffda95;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section8 .cards .card .forimg1 {
  width: 100%;
  height: 250px;
  background-image: url(./Images/s8-card1-img.png);
  background-size: cover;
  background-position: center;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.section8 .cards .card .forimg1:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(./Images/s8-card1-img.png);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./Images/s8-card1-img.png);
  background-size: cover;
  background-position: center;
}

.section8 .cards .card .forimg2 {
  width: 100%;
  height: 250px;
  background-image: url(./Images/s8-card2-img.png);
  background-size: cover;
  background-position: center;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.section8 .cards .card .forimg2:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(./Images/s8-card2-img.png);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./Images/s8-card2-img.png);
  background-size: cover;
  background-position: center;
}

.section8 .cards .card .forimg3 {
  width: 100%;
  height: 250px;
  background-image: url(./Images/s8-card3-img.png);
  background-size: cover;
  background-position: center;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.section8 .cards .card .forimg3:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(./Images/s8-card3-img.png);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./Images/s8-card3-img.png);
  background-size: cover;
  background-position: center;
}

.section8 .cards .card .fortext {
  padding: 0px 30px 40px 30px;
}

.section8 .cards .card .fortext p {
  color: #6F6B80;
  font-size: 16px;
  margin: 30px 0px 20px;
}

.section8 .cards .card .fortext h1 {
  color: #101010;
  font-size: 24px;
  font-weight: 600;
}

.section8 .cards .card .fortext h1:hover {
  cursor: pointer;
  color: #ff6200;
  -webkit-transition: .3s;
  transition: .3s;
}

.section8 .cards .card .fortext span,
.section8 .cards .card .fortext i {
  color: #ff6200;
  font-weight: bold;
  cursor: pointer;
}

.section8 .cards .card .fortext i {
  margin-left: 5px;
}

.section9 {
  width: 100%;
  padding: 100px 0px;
}

.section9 .sec9-head {
  text-align: center;
}

.section9 .sec9-head h1 {
  color: #101010;
  font-size: 44px;
  font-weight: 700;
  margin-top: 1rem;
}

.section9 .sec9-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section9 .sec9-in .forinput {
  margin-top: 3rem;
  width: 63%;
  height: 400px;
}

.section9 .sec9-in .forinput input {
  width: 45%;
  height: 70px;
  padding-left: 1rem;
  margin-top: 1.5rem;
  margin-right: 1rem;
  border: 1px solid #ffce72;
  border-radius: 7px;
}

.section9 .sec9-in .forinput textarea {
  width: 93%;
  padding-top: 2rem;
  padding-left: 1rem;
  margin-top: 1.5rem;
  border: 1px solid #ffce72;
  border-radius: 7px;
}

.section9 .sec9-in .foradrs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.section9 .sec9-in .foradrs .adrs1,
.section9 .sec9-in .foradrs .adrs2,
.section9 .sec9-in .foradrs .adrs3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section9 .sec9-in .foradrs .adrs1 .fori i,
.section9 .sec9-in .foradrs .adrs2 .fori i,
.section9 .sec9-in .foradrs .adrs3 .fori i {
  font-size: 25px;
  padding: 12px;
  background-color: #f9d1aa;
  border-radius: 5px;
  margin-right: 1rem;
  color: #ff6200;
}

.section9 .sec9-in .foradrs .adrs1 .foratext p,
.section9 .sec9-in .foradrs .adrs2 .foratext p,
.section9 .sec9-in .foradrs .adrs3 .foratext p {
  color: #888888;
}

.section9 .sec9-in .foradrs .adrs1 .foratext p:hover,
.section9 .sec9-in .foradrs .adrs2 .foratext p:hover,
.section9 .sec9-in .foradrs .adrs3 .foratext p:hover {
  color: #ff6200;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.section9 button {
  font-size: 20px;
  padding: 15px 30px;
  color: white;
  border: none;
  border-radius: 8px;
  background-color: #ff6200;
  font-weight: bold;
  margin-top: 3rem;
}

.section9 button:hover {
  background-color: black;
  color: #ff6200;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

footer {
  width: 100%;
  padding: 100px 0px 30px 0px;
  background-color: black;
}

footer .footer-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

footer .footer-in .ftr1 {
  width: 24%;
}

footer .footer-in .ftr1 p {
  color: white;
  font-size: 15px;
  line-height: 25px;
  margin-top: 1.2rem;
}

footer .footer-in .ftr1 h2 {
  color: white;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3em;
  margin-top: 2rem;
}

footer .footer-in .ftr2 {
  width: 24%;
}

footer .footer-in .ftr2 h2 {
  font-size: 22px;
  font-weight: 500;
  color: white;
}

footer .footer-in .ftr2 ul {
  padding: 0;
}

footer .footer-in .ftr2 ul li {
  margin-top: 1.2rem;
  list-style: none;
}

footer .footer-in .ftr2 ul li a {
  color: white;
  text-decoration: none;
}

footer .footer-in .ftr2 ul li a:hover {
  color: #ff6200;
  -webkit-transition: .3s;
  transition: .3s;
}

footer .footer-in .ftr3 {
  width: 24%;
}

footer .footer-in .ftr3 h2 {
  color: white;
  font-size: 22px;
  font-weight: 500;
}

footer .footer-in .ftr3 ul {
  padding: 0;
}

footer .footer-in .ftr3 ul li {
  margin-top: 1.2rem;
  list-style: none;
}

footer .footer-in .ftr3 ul li a {
  color: white;
  text-decoration: none;
}

footer .footer-in .ftr3 ul li a:hover {
  color: #ff6200;
  -webkit-transition: .3s;
  transition: .3s;
}

footer .footer-in .ftr4 {
  width: 24%;
}

footer .footer-in .ftr4 h2 {
  color: white;
  font-size: 22px;
  font-weight: 500;
}

footer .footer-in .ftr4 .forficon {
  margin-top: 3rem;
}

footer .footer-in .ftr4 .forficon i {
  color: white;
  font-size: 20px;
  padding: 10px;
  background-color: #ff6200;
  border-radius: 8px;
  margin-right: 10px;
}

footer .footer-in .ftr4 .forficon i:hover {
  background-color: white;
  color: #ff6200;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

footer .footer-in .ftr4 .fora1 {
  margin-top: 2rem;
}

footer .footer-in .ftr4 .fora1 i {
  color: #ff6200;
  font-size: 15px;
}

footer .footer-in .ftr4 .fora1 span {
  color: white;
}

footer .footer-in .ftr4 .fora2 {
  margin-top: 2rem;
}

footer .footer-in .ftr4 .fora2 i {
  color: #ff6200;
  font-size: 15px;
}

footer .footer-in .ftr4 .fora2 span {
  color: white;
}

footer .footerend {
  margin-top: 10rem;
}

footer .footerend .footer-hr {
  height: 0.5px;
  background-color: white;
  border: none;
}

footer .footerend .footer-in {
  margin-top: 3rem;
}

footer .footerend .footer-in .textl p {
  color: white;
}

footer .footerend .footer-in .textr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

footer .footerend .footer-in .textr p {
  color: white;
}

footer .footerend .footer-in .textr p:hover {
  color: #ff6200;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

@media screen and (max-width: 1125px) {
  .section6 .nav {
    display: none;
  }
  .section6 .grid {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 992px) {
  nav .nav-btn {
    display: none;
  }
  .section1 .sec1-in {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .section1 .sec1-in .fortext {
    width: 100%;
    margin-top: 2rem;
  }
  .section1 .sec1-in .forimg {
    width: 85%;
  }
  .section1 .sec1-in .forimg img {
    width: 100%;
    height: 900px;
  }
  .section2 .sec2-in {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section2 .sec2-in .forimg {
    width: 60%;
  }
  .section2 .sec2-in .fortext {
    margin-top: 2rem;
  }
  .section3 .sec3-in .boxs {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section3 .sec3-in .boxs .box {
    width: 45%;
    padding: 20px 0px;
  }
  .section4 .sec4-in {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section4 .sec4-in .scrollstick {
    display: none;
  }
  .section4 .sec4-in .fortext .boxs1,
  .section4 .sec4-in .fortext .boxs2,
  .section4 .sec4-in .fortext .boxs3 {
    width: 80%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section4 .sec4-in .fortext .boxs1 .box1,
  .section4 .sec4-in .fortext .boxs1 .box2,
  .section4 .sec4-in .fortext .boxs1 .box3,
  .section4 .sec4-in .fortext .boxs2 .box1,
  .section4 .sec4-in .fortext .boxs2 .box2,
  .section4 .sec4-in .fortext .boxs2 .box3,
  .section4 .sec4-in .fortext .boxs3 .box1,
  .section4 .sec4-in .fortext .boxs3 .box2,
  .section4 .sec4-in .fortext .boxs3 .box3 {
    width: 100%;
    border-right: none;
  }
  .section6 .grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
  }
  .section6 .grid .grid-item1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .section6 .grid .grid-item1 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section6 .grid .grid-item2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .section6 .grid .grid-item2 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section6 .grid .grid-item3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .section6 .grid .grid-item3 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section6 .grid .grid-item4 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .section6 .grid .grid-item4 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section6 .grid .grid-item5 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .section6 .grid .grid-item5 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section6 .grid .grid-item6 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .section6 .grid .grid-item6 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section6 .grid .grid-item7 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .section6 .grid .grid-item7 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section6 .grid .grid-item8 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .section6 .grid .grid-item8 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  footer .footer-in {
    gap: 20px;
  }
  footer .footer-in .ftr1,
  footer .footer-in .ftr2,
  footer .footer-in .ftr3,
  footer .footer-in .ftr4 {
    width: 48%;
  }
}

@media screen and (max-width: 950px) {
  .section5 .sec5-in .boxs .box1,
  .section5 .sec5-in .boxs .box2 {
    width: 48%;
  }
  .section5 .sec5-in .boxs .box3 {
    display: none;
  }
  .section8 .cards {
    width: 100%;
    gap: 20px;
  }
  .section8 .cards .card {
    width: 48%;
  }
  .section8 .cards .card3 {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .section7 .boxs {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }
  .section7 .boxs .box {
    width: 30%;
  }
  .section9 .sec9-in {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section9 .sec9-in .forinput {
    width: 90%;
  }
}

@media screen and (max-width: 620px) {
  .section1 .sec1-in .forimg {
    height: 250px;
    padding-bottom: 57rem;
  }
  .section1 .sec1-in .fortext h1 {
    font-size: 40px;
  }
  .section1 .sec1-in .fortext p {
    font-size: 15px;
  }
  .section2 .sec2-in .forimg {
    height: 550px;
  }
  .section2 .sec2-in .fortext h1 {
    font-size: 30px;
  }
  .section2 .sec2-in .fortext p {
    font-size: 15px;
  }
  .section2 .sec2-in .fortext .for-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section2 .sec2-in .fortext .divss {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section2 .sec2-in .fortext .divss .divs1,
  .section2 .sec2-in .fortext .divss .divs2 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}

@media screen and (max-width: 565px) {
  .section1 .sec1-in .forimg {
    padding-bottom: 30rem;
  }
  .section1 .sec1-in .forimg img {
    height: 500px;
  }
  .section5 .sec5-in .boxs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section5 .sec5-in .boxs .box1,
  .section5 .sec5-in .boxs .box2 {
    width: 80%;
  }
  .section6 .grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[8];
        grid-template-rows: repeat(8, 1fr);
  }
  .section6 .grid .grid-item1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .section6 .grid .grid-item1 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section6 .grid .grid-item2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .section6 .grid .grid-item2 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section6 .grid .grid-item3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .section6 .grid .grid-item3 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section6 .grid .grid-item4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .section6 .grid .grid-item4 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section6 .grid .grid-item5 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  .section6 .grid .grid-item5 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section6 .grid .grid-item6 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
  }
  .section6 .grid .grid-item6 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section6 .grid .grid-item7 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
  }
  .section6 .grid .grid-item7 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section6 .grid .grid-item8 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    grid-row: 8/9;
  }
  .section6 .grid .grid-item8 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section8 .cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section8 .cards .card {
    width: 90%;
  }
  .section9 .sec9-in .forinput {
    width: 100%;
  }
  footer .footer-in .ftr1,
  footer .footer-in .ftr2,
  footer .footer-in .ftr3,
  footer .footer-in .ftr4 {
    width: 90%;
  }
}

@media screen and (max-width: 470px) {
  .section3 .sec3-head h1 {
    font-size: 30px;
  }
  .section3 .sec3-in .boxs .box {
    width: 90%;
  }
  .section4 .sec4-head h1,
  .section4 .sec5-head h1,
  .section4 .sec6-head h1,
  .section4 .sec7-head h1,
  .section4 .sec8-head h1,
  .section4 .sec9-head h1,
  .section5 .sec4-head h1,
  .section5 .sec5-head h1,
  .section5 .sec6-head h1,
  .section5 .sec7-head h1,
  .section5 .sec8-head h1,
  .section5 .sec9-head h1,
  .section6 .sec4-head h1,
  .section6 .sec5-head h1,
  .section6 .sec6-head h1,
  .section6 .sec7-head h1,
  .section6 .sec8-head h1,
  .section6 .sec9-head h1,
  .section7 .sec4-head h1,
  .section7 .sec5-head h1,
  .section7 .sec6-head h1,
  .section7 .sec7-head h1,
  .section7 .sec8-head h1,
  .section7 .sec9-head h1,
  .section8 .sec4-head h1,
  .section8 .sec5-head h1,
  .section8 .sec6-head h1,
  .section8 .sec7-head h1,
  .section8 .sec8-head h1,
  .section8 .sec9-head h1,
  .section9 .sec4-head h1,
  .section9 .sec5-head h1,
  .section9 .sec6-head h1,
  .section9 .sec7-head h1,
  .section9 .sec8-head h1,
  .section9 .sec9-head h1 {
    font-size: 30px;
  }
  .section7 .boxs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section7 .boxs .box {
    width: 45%;
  }
}

@media screen and (max-width: 410px) {
  .section1 .sec1-in .fortext p {
    font-size: 15px;
    max-width: 350px;
  }
  .section4 .sec4-in .fortext {
    margin-left: 3rem;
    font-size: 13px;
  }
}
/*# sourceMappingURL=style.css.map */