* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(255, 98, 0);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #606060;
}

.container {
  max-width: 1400px;
  margin: auto;
  padding: 0 32px;
}

.navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.navbar nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
}
.navbar nav ul li:hover .dd1,
.navbar nav ul li:hover .dd2,
.navbar nav ul li:hover .dd3,
.navbar nav ul li:hover .dd4 {
  display: block;
  position: absolute;
  margin-top: 10px;
  border: 1px solid white;
  box-shadow: 0 0 5px #000000;
  background-color: white;
}
.navbar nav ul li:hover .dd1 ul li,
.navbar nav ul li:hover .dd2 ul li,
.navbar nav ul li:hover .dd3 ul li,
.navbar nav ul li:hover .dd4 ul li {
  display: block;
}
.navbar nav ul li:hover .dd1 ul li:hover,
.navbar nav ul li:hover .dd2 ul li:hover,
.navbar nav ul li:hover .dd3 ul li:hover,
.navbar nav ul li:hover .dd4 ul li:hover {
  background-color: rgb(216, 216, 216);
}
.navbar nav ul li:hover .dd1 ul li a,
.navbar nav ul li:hover .dd2 ul li a,
.navbar nav ul li:hover .dd3 ul li a,
.navbar nav ul li:hover .dd4 ul li a {
  padding-right: 100px;
  font-size: 15px;
  color: #101010;
}
.navbar nav ul li:hover .dd1 ul li a:hover,
.navbar nav ul li:hover .dd2 ul li a:hover,
.navbar nav ul li:hover .dd3 ul li a:hover,
.navbar nav ul li:hover .dd4 ul li a:hover {
  color: orangered;
}
.navbar nav ul li a {
  color: #212529;
  text-decoration: none;
  font-size: 16px;
}
.navbar nav ul li a:hover {
  color: orangered;
  transition: 0.3s;
}
.navbar nav ul li .dd1,
.navbar nav ul li .dd2,
.navbar nav ul li .dd3,
.navbar nav ul li .dd4 {
  display: none;
}
.navbar nav button {
  font-size: 20px;
  padding: 15px 25px;
  color: white;
  border: none;
  border-radius: 8px;
  background-color: rgb(255, 98, 0);
  font-weight: bold;
}
.navbar nav button:hover {
  background-color: black;
  color: rgb(255, 98, 0);
  transition: 0.5s;
  cursor: pointer;
}
.navbar nav i {
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.section1 {
  width: 100%;
  padding: 0 100px;
  background-color: linen;
}
.section1 .sec1-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section1 .sec1-in .fortext {
  min-width: 400px;
}
.section1 .sec1-in .fortext h1 {
  font-size: 80px;
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
}
.section1 .sec1-in .fortext p {
  color: rgb(136, 136, 136);
  line-height: 35px;
  font-size: 18px;
  margin-top: 1rem;
}
.section1 .sec1-in .fortext button {
  font-size: 20px;
  padding: 15px 30px;
  color: white;
  border: none;
  border-radius: 8px;
  background-color: rgb(255, 98, 0);
  font-weight: bold;
  margin-top: 3rem;
}
.section1 .sec1-in .fortext button:hover {
  background-color: black;
  color: rgb(255, 98, 0);
  transition: 0.5s;
  cursor: pointer;
}
.section1 .sec1-in .forimg {
  width: 50%;
  min-width: 400px;
  flex-wrap: nowrap;
}
.section1 .sec1-in .forimg img {
  width: 100%;
  height: 650px;
}

.section2 {
  width: 100%;
  padding: 0 100px;
}
.section2 .sec2-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}
.section2 .sec2-in .forimg {
  width: 45%;
}
.section2 .sec2-in .forimg img {
  width: 95%;
  height: 750px;
}
.section2 .sec2-in .fortext h1 {
  font-size: 40px;
}
.section2 .sec2-in .fortext p {
  font-size: 17px;
  color: rgb(136, 136, 136);
  margin-top: 1rem;
  line-height: 25px;
}
.section2 .sec2-in .fortext .for-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section2 .sec2-in .fortext .for-icons .foricon1,
.section2 .sec2-in .fortext .for-icons .foricon2 {
  position: relative;
  margin-top: 2rem;
}
.section2 .sec2-in .fortext .for-icons .foricon1 .span-zero,
.section2 .sec2-in .fortext .for-icons .foricon2 .span-zero {
  position: absolute;
  top: 0;
  margin-left: 10px;
  font-size: 21px;
  color: rgb(255, 98, 0);
}
.section2 .sec2-in .fortext .for-icons .foricon1 .span-nozero,
.section2 .sec2-in .fortext .for-icons .foricon2 .span-nozero {
  font-size: 18px;
  margin-left: 10px;
}
.section2 .sec2-in .fortext .divss {
  margin-top: 4rem;
}
.section2 .sec2-in .fortext .divss .divs1,
.section2 .sec2-in .fortext .divss .divs2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section2 .sec2-in .fortext .divss .divs1 i,
.section2 .sec2-in .fortext .divss .divs2 i {
  color: rgb(255, 98, 0);
}
.section2 .sec2-in .fortext .divss .divs1 span,
.section2 .sec2-in .fortext .divss .divs2 span {
  margin-left: 10px;
}
.section2 .sec2-in .fortext button {
  font-size: 20px;
  padding: 15px 30px;
  color: white;
  border: none;
  border-radius: 8px;
  background-color: rgb(255, 98, 0);
  font-weight: bold;
  margin-top: 5rem;
}
.section2 .sec2-in .fortext button:hover {
  background-color: black;
  color: rgb(255, 98, 0);
  transition: 0.5s;
  cursor: pointer;
}

.section3 {
  width: 100%;
  padding: 0 100px;
}
.section3 .sec3-head {
  margin-top: 5rem;
  text-align: center;
}
.section3 .sec3-head h1 {
  font-size: 45px;
  margin-top: 1rem;
}
.section3 .sec3-in .boxs1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}
.section3 .sec3-in .boxs1 .box1,
.section3 .sec3-in .boxs1 .box2,
.section3 .sec3-in .boxs1 .box3,
.section3 .sec3-in .boxs1 .box4 {
  width: 22%;
  height: 300px;
  border-radius: 8px;
  border: 1px solid rgb(255, 98, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}
.section3 .sec3-in .boxs1 .box1:hover,
.section3 .sec3-in .boxs1 .box2:hover,
.section3 .sec3-in .boxs1 .box3:hover,
.section3 .sec3-in .boxs1 .box4:hover {
  background-color: linen;
  transition: 0.5s;
}
.section3 .sec3-in .boxs1 .box1 p,
.section3 .sec3-in .boxs1 .box2 p,
.section3 .sec3-in .boxs1 .box3 p,
.section3 .sec3-in .boxs1 .box4 p {
  color: rgb(136, 136, 136);
  line-height: 25px;
}
.section3 .sec3-in .boxs2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.section3 .sec3-in .boxs2 .box1,
.section3 .sec3-in .boxs2 .box2,
.section3 .sec3-in .boxs2 .box3,
.section3 .sec3-in .boxs2 .box4 {
  width: 22%;
  height: 300px;
  border-radius: 8px;
  border: 1px solid rgb(255, 98, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}
.section3 .sec3-in .boxs2 .box1:hover,
.section3 .sec3-in .boxs2 .box2:hover,
.section3 .sec3-in .boxs2 .box3:hover,
.section3 .sec3-in .boxs2 .box4:hover {
  background-color: linen;
  transition: 0.5s;
}
.section3 .sec3-in .boxs2 .box1 p,
.section3 .sec3-in .boxs2 .box2 p,
.section3 .sec3-in .boxs2 .box3 p,
.section3 .sec3-in .boxs2 .box4 p {
  color: rgb(136, 136, 136);
  line-height: 25px;
}

.section4 {
  width: 100%;
  padding: 0 100px;
  background-color: linen;
  margin-top: 8rem;
}
.section4 .sec4-head {
  text-align: center;
}
.section4 .sec4-head h1 {
  font-size: 45px;
  margin-top: 1rem;
}
.section4 .sec4-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section4 .sec4-in .scrollstick {
  width: 2px;
  height: 700px;
  background-color: rgb(136, 136, 136);
  position: relative;
}
.section4 .sec4-in .scrollstick .cricle1,
.section4 .sec4-in .scrollstick .cricle2,
.section4 .sec4-in .scrollstick .cricle3 {
  height: 20px;
  width: 20px;
  border-radius: 9999px;
  background-color: rgb(255, 98, 0);
  position: absolute;
  left: -8px;
}
.section4 .sec4-in .scrollstick .cricle1 span,
.section4 .sec4-in .scrollstick .cricle2 span,
.section4 .sec4-in .scrollstick .cricle3 span {
  font-size: 25px;
  margin-left: 2rem;
}
.section4 .sec4-in .scrollstick .cricle1 {
  margin-top: 7rem;
}
.section4 .sec4-in .scrollstick .cricle2 {
  margin-top: 22rem;
}
.section4 .sec4-in .scrollstick .cricle3 {
  margin-top: 37rem;
}
.section4 .sec4-in .fortext {
  width: 80%;
}
.section4 .sec4-in .fortext .boxs1,
.section4 .sec4-in .fortext .boxs2,
.section4 .sec4-in .fortext .boxs3 {
  width: 100%;
  height: 230px;
  background-color: white;
  margin-top: 1.5rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.section4 .sec4-in .fortext .boxs1 .box1 p,
.section4 .sec4-in .fortext .boxs1 .box2 p,
.section4 .sec4-in .fortext .boxs1 .box3 p,
.section4 .sec4-in .fortext .boxs2 .box1 p,
.section4 .sec4-in .fortext .boxs2 .box2 p,
.section4 .sec4-in .fortext .boxs2 .box3 p,
.section4 .sec4-in .fortext .boxs3 .box1 p,
.section4 .sec4-in .fortext .boxs3 .box2 p,
.section4 .sec4-in .fortext .boxs3 .box3 p {
  color: rgb(136, 136, 136);
  line-height: 25px;
  margin-top: 1rem;
}

.section5 {
  width: 100%;
  padding: 0 100px;
}
.section5 .sec5-head {
  text-align: center;
  margin-top: 5rem;
}
.section5 .sec5-head h1 {
  font-size: 45px;
  margin-top: 1rem;
}
.section5 .sec5-in .boxs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-top: 3rem;
}
.section5 .sec5-in .boxs .box1,
.section5 .sec5-in .boxs .box2,
.section5 .sec5-in .boxs .box3 {
  width: 30%;
  height: 250px;
  background-color: rgb(251, 247, 243);
  border: none;
  border-radius: 5px;
}
.section5 .sec5-in .boxs .box1:hover,
.section5 .sec5-in .boxs .box2:hover,
.section5 .sec5-in .boxs .box3:hover {
  background-color: linen;
  transition: 0.1s;
}
.section5 .sec5-in .boxs .box1 .box1-in, .section5 .sec5-in .boxs .box1 .box2-in, .section5 .sec5-in .boxs .box1 .box3-in, .section5 .sec5-in .boxs .box2 .box1-in, .section5 .sec5-in .boxs .box2 .box2-in, .section5 .sec5-in .boxs .box2 .box3-in, .section5 .sec5-in .boxs .box3 .box1-in, .section5 .sec5-in .boxs .box3 .box2-in, .section5 .sec5-in .boxs .box3 .box3-in {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  position: relative;
}
.section5 .sec5-in .boxs .box1 .box1-in img, .section5 .sec5-in .boxs .box1 .box2-in img, .section5 .sec5-in .boxs .box1 .box3-in img, .section5 .sec5-in .boxs .box2 .box1-in img, .section5 .sec5-in .boxs .box2 .box2-in img, .section5 .sec5-in .boxs .box2 .box3-in img, .section5 .sec5-in .boxs .box3 .box1-in img, .section5 .sec5-in .boxs .box3 .box2-in img, .section5 .sec5-in .boxs .box3 .box3-in img {
  position: absolute;
  left: 1rem;
}
.section5 .sec5-in .boxs .box1 .box1-in .box1-text, .section5 .sec5-in .boxs .box1 .box1-in .box2-text, .section5 .sec5-in .boxs .box1 .box1-in .box3-text, .section5 .sec5-in .boxs .box1 .box2-in .box1-text, .section5 .sec5-in .boxs .box1 .box2-in .box2-text, .section5 .sec5-in .boxs .box1 .box2-in .box3-text, .section5 .sec5-in .boxs .box1 .box3-in .box1-text, .section5 .sec5-in .boxs .box1 .box3-in .box2-text, .section5 .sec5-in .boxs .box1 .box3-in .box3-text, .section5 .sec5-in .boxs .box2 .box1-in .box1-text, .section5 .sec5-in .boxs .box2 .box1-in .box2-text, .section5 .sec5-in .boxs .box2 .box1-in .box3-text, .section5 .sec5-in .boxs .box2 .box2-in .box1-text, .section5 .sec5-in .boxs .box2 .box2-in .box2-text, .section5 .sec5-in .boxs .box2 .box2-in .box3-text, .section5 .sec5-in .boxs .box2 .box3-in .box1-text, .section5 .sec5-in .boxs .box2 .box3-in .box2-text, .section5 .sec5-in .boxs .box2 .box3-in .box3-text, .section5 .sec5-in .boxs .box3 .box1-in .box1-text, .section5 .sec5-in .boxs .box3 .box1-in .box2-text, .section5 .sec5-in .boxs .box3 .box1-in .box3-text, .section5 .sec5-in .boxs .box3 .box2-in .box1-text, .section5 .sec5-in .boxs .box3 .box2-in .box2-text, .section5 .sec5-in .boxs .box3 .box2-in .box3-text, .section5 .sec5-in .boxs .box3 .box3-in .box1-text, .section5 .sec5-in .boxs .box3 .box3-in .box2-text, .section5 .sec5-in .boxs .box3 .box3-in .box3-text {
  margin-left: -3rem;
}
.section5 .sec5-in .boxs .box1 .box1-in .box1-text .box1-p1, .section5 .sec5-in .boxs .box1 .box1-in .box1-text .box2-p1, .section5 .sec5-in .boxs .box1 .box1-in .box1-text .box3-p1, .section5 .sec5-in .boxs .box1 .box1-in .box2-text .box1-p1, .section5 .sec5-in .boxs .box1 .box1-in .box2-text .box2-p1, .section5 .sec5-in .boxs .box1 .box1-in .box2-text .box3-p1, .section5 .sec5-in .boxs .box1 .box1-in .box3-text .box1-p1, .section5 .sec5-in .boxs .box1 .box1-in .box3-text .box2-p1, .section5 .sec5-in .boxs .box1 .box1-in .box3-text .box3-p1, .section5 .sec5-in .boxs .box1 .box2-in .box1-text .box1-p1, .section5 .sec5-in .boxs .box1 .box2-in .box1-text .box2-p1, .section5 .sec5-in .boxs .box1 .box2-in .box1-text .box3-p1, .section5 .sec5-in .boxs .box1 .box2-in .box2-text .box1-p1, .section5 .sec5-in .boxs .box1 .box2-in .box2-text .box2-p1, .section5 .sec5-in .boxs .box1 .box2-in .box2-text .box3-p1, .section5 .sec5-in .boxs .box1 .box2-in .box3-text .box1-p1, .section5 .sec5-in .boxs .box1 .box2-in .box3-text .box2-p1, .section5 .sec5-in .boxs .box1 .box2-in .box3-text .box3-p1, .section5 .sec5-in .boxs .box1 .box3-in .box1-text .box1-p1, .section5 .sec5-in .boxs .box1 .box3-in .box1-text .box2-p1, .section5 .sec5-in .boxs .box1 .box3-in .box1-text .box3-p1, .section5 .sec5-in .boxs .box1 .box3-in .box2-text .box1-p1, .section5 .sec5-in .boxs .box1 .box3-in .box2-text .box2-p1, .section5 .sec5-in .boxs .box1 .box3-in .box2-text .box3-p1, .section5 .sec5-in .boxs .box1 .box3-in .box3-text .box1-p1, .section5 .sec5-in .boxs .box1 .box3-in .box3-text .box2-p1, .section5 .sec5-in .boxs .box1 .box3-in .box3-text .box3-p1, .section5 .sec5-in .boxs .box2 .box1-in .box1-text .box1-p1, .section5 .sec5-in .boxs .box2 .box1-in .box1-text .box2-p1, .section5 .sec5-in .boxs .box2 .box1-in .box1-text .box3-p1, .section5 .sec5-in .boxs .box2 .box1-in .box2-text .box1-p1, .section5 .sec5-in .boxs .box2 .box1-in .box2-text .box2-p1, .section5 .sec5-in .boxs .box2 .box1-in .box2-text .box3-p1, .section5 .sec5-in .boxs .box2 .box1-in .box3-text .box1-p1, .section5 .sec5-in .boxs .box2 .box1-in .box3-text .box2-p1, .section5 .sec5-in .boxs .box2 .box1-in .box3-text .box3-p1, .section5 .sec5-in .boxs .box2 .box2-in .box1-text .box1-p1, .section5 .sec5-in .boxs .box2 .box2-in .box1-text .box2-p1, .section5 .sec5-in .boxs .box2 .box2-in .box1-text .box3-p1, .section5 .sec5-in .boxs .box2 .box2-in .box2-text .box1-p1, .section5 .sec5-in .boxs .box2 .box2-in .box2-text .box2-p1, .section5 .sec5-in .boxs .box2 .box2-in .box2-text .box3-p1, .section5 .sec5-in .boxs .box2 .box2-in .box3-text .box1-p1, .section5 .sec5-in .boxs .box2 .box2-in .box3-text .box2-p1, .section5 .sec5-in .boxs .box2 .box2-in .box3-text .box3-p1, .section5 .sec5-in .boxs .box2 .box3-in .box1-text .box1-p1, .section5 .sec5-in .boxs .box2 .box3-in .box1-text .box2-p1, .section5 .sec5-in .boxs .box2 .box3-in .box1-text .box3-p1, .section5 .sec5-in .boxs .box2 .box3-in .box2-text .box1-p1, .section5 .sec5-in .boxs .box2 .box3-in .box2-text .box2-p1, .section5 .sec5-in .boxs .box2 .box3-in .box2-text .box3-p1, .section5 .sec5-in .boxs .box2 .box3-in .box3-text .box1-p1, .section5 .sec5-in .boxs .box2 .box3-in .box3-text .box2-p1, .section5 .sec5-in .boxs .box2 .box3-in .box3-text .box3-p1, .section5 .sec5-in .boxs .box3 .box1-in .box1-text .box1-p1, .section5 .sec5-in .boxs .box3 .box1-in .box1-text .box2-p1, .section5 .sec5-in .boxs .box3 .box1-in .box1-text .box3-p1, .section5 .sec5-in .boxs .box3 .box1-in .box2-text .box1-p1, .section5 .sec5-in .boxs .box3 .box1-in .box2-text .box2-p1, .section5 .sec5-in .boxs .box3 .box1-in .box2-text .box3-p1, .section5 .sec5-in .boxs .box3 .box1-in .box3-text .box1-p1, .section5 .sec5-in .boxs .box3 .box1-in .box3-text .box2-p1, .section5 .sec5-in .boxs .box3 .box1-in .box3-text .box3-p1, .section5 .sec5-in .boxs .box3 .box2-in .box1-text .box1-p1, .section5 .sec5-in .boxs .box3 .box2-in .box1-text .box2-p1, .section5 .sec5-in .boxs .box3 .box2-in .box1-text .box3-p1, .section5 .sec5-in .boxs .box3 .box2-in .box2-text .box1-p1, .section5 .sec5-in .boxs .box3 .box2-in .box2-text .box2-p1, .section5 .sec5-in .boxs .box3 .box2-in .box2-text .box3-p1, .section5 .sec5-in .boxs .box3 .box2-in .box3-text .box1-p1, .section5 .sec5-in .boxs .box3 .box2-in .box3-text .box2-p1, .section5 .sec5-in .boxs .box3 .box2-in .box3-text .box3-p1, .section5 .sec5-in .boxs .box3 .box3-in .box1-text .box1-p1, .section5 .sec5-in .boxs .box3 .box3-in .box1-text .box2-p1, .section5 .sec5-in .boxs .box3 .box3-in .box1-text .box3-p1, .section5 .sec5-in .boxs .box3 .box3-in .box2-text .box1-p1, .section5 .sec5-in .boxs .box3 .box3-in .box2-text .box2-p1, .section5 .sec5-in .boxs .box3 .box3-in .box2-text .box3-p1, .section5 .sec5-in .boxs .box3 .box3-in .box3-text .box1-p1, .section5 .sec5-in .boxs .box3 .box3-in .box3-text .box2-p1, .section5 .sec5-in .boxs .box3 .box3-in .box3-text .box3-p1 {
  color: rgb(136, 136, 136);
  margin-top: 5px;
}
.section5 .sec5-in .boxs .box1 .box1-p2, .section5 .sec5-in .boxs .box1 .box2-p2, .section5 .sec5-in .boxs .box1 .box3-p2, .section5 .sec5-in .boxs .box2 .box1-p2, .section5 .sec5-in .boxs .box2 .box2-p2, .section5 .sec5-in .boxs .box2 .box3-p2, .section5 .sec5-in .boxs .box3 .box1-p2, .section5 .sec5-in .boxs .box3 .box2-p2, .section5 .sec5-in .boxs .box3 .box3-p2 {
  margin-top: 2.5rem;
  margin-left: 5%;
  margin-right: 5%;
  line-height: 25px;
  color: rgb(136, 136, 136);
}
.section5 .sec5-in .cricles {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 3rem;
}
.section5 .sec5-in .cricles .cricle1, .section5 .sec5-in .cricles .cricle2, .section5 .sec5-in .cricles .cricle3, .section5 .sec5-in .cricles .cricle4 {
  width: 10px;
  height: 10px;
  border-radius: 9999px;
  background-color: rgb(250, 224, 198);
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .navbar nav ul,
  .navbar nav button {
    display: none;
  }
  .navbar nav i {
    display: block;
  }
  .section1 {
    width: auto;
  }
  .section1 .sec1-in {
    flex-direction: column;
  }
  .section1 .sec1-in .fortext {
    flex-wrap: nowrap;
    margin-top: 1rem;
  }
  .section1 .sec1-in .forimg {
    width: auto;
    margin-top: 1rem;
  }
}/*# sourceMappingURL=style.css.map */